.button {
    width: 220px;
    height: 45px;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    background-color: #2c2c2c;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: bold;
}


.button:hover {
    background-color: #3a3a3a;
    transform: scale(1.05);
}
