<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="Hab Track - Graphs">
    <meta property="og:url" content="https://habtrack.vercel.app/graphs">
    <meta property="og:description" content="Graphs of stats for Hab Track">
    <meta property="og:image" content="https://hab-track.vercel.app/img/graphs.png">
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% include 'default.html' %}
</head>
<body>
    <h1>Show graphs of statistics for Habbo retro</h1>
    <div id="plots">
        {% for index, plot in indexed_plots %}
            <div id="{{ categories[index] }}" class="plot-container" data-plot-name="{{ categories[index] }}">{{ plot | safe }}</div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='scroll.js') }}"></script>
</body>
</html>