<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="Hab Track - Graphs">
    <meta property="og:url" content="https://habtrack.vercel.app/graphs">
    <meta property="og:description" content="Graphs of stats for Hab Track">
    <meta property="og:image" content="img/graphs.jpg">
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% include 'default.html' %}
</head>
<body>
    <h1>Show graphs of statistics for Habbo retro</h1>
    <div id="plots">
        {% for plot in plots %}
            <div>{{ plot | safe }}</div>
        {% endfor %}
    </div>
</body>
</html>