<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="Hab Track - Home">
    <meta property="og:url" content="https://habtrack.vercel.app/">
    <meta property="og:description" content="Home page of Hab Track">
    <meta property="og:image" content="https://hab-track.vercel.app/img/banner.png">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button.css') }}">
    {% include 'default.html' %}
</head>
<body>
    <h1>Track updates for Habbo retros</h1>
    <a href="/graphs" class="button">Graphs</a>
    <a href="/raw_stats" class="button">Raw stats</a>
    <a href="https://discord.gg/4eWHHwmheq" target="_blank" class="button">Discord</a>
</body>
</html>

