<!DOCTYPE html>
<html lang="en">

<head>
    <meta property="og:title" content="Hab Track - Home">
    <meta property="og:url" content="https://habtrack.vercel.app/">
    <meta property="og:description" content="Home page of Hab Track">
    <meta property="og:image" content="https://hab-track.vercel.app/img/banner.png">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">
    {% include 'default.html' %}      
</head>

<body>
    <h1>Track updates for Habbo & Habbo retros</h1>
    <h2>Please note: Most updates happen on Discord</h2>
    <h3>You will find new furnitures, clothes, badges, effects, and all text updates</h3>
    <h3>The website only displays statistics</h3>
    <h4></h4>
    <a href="/graphs" class="button">Graphs</a>
    <a href="/raw_stats" class="button">Raw stats</a>
    <a href="https://discord.gg/7SvKF6wpss" target="_blank" class="button">Discord</a>

    <style>
        h2, h3 {
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        h4 {
            margin-top: 15px;
        }
    </style>
</body>

</html>