<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'default.html' %}
    
    <meta property="og:title" content="Hab Track - Graphs">
    <meta property="og:url" content="https://habtrack.vercel.app/graphs">
    <meta property="og:description" content="Graphs of stats for Hab Track">
    <meta property="og:image" content="https://hab-track.vercel.app/img/graphs.png">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        var graphsDataUrl = "{{ url_for('graphs_data') }}";
    </script>

    <script src="{{ url_for('static', filename='js/load_graphs.js') }}"></script>
</head>

<body>
    <div id="plots">
        {% for categorie in categories %}
        <div id="{{ categorie }}" class="plot-placeholder">Loading graph...</div>
        {% endfor %}
    </div>
</body>

<style>
    body {
        padding-top: 65px;
    }
</style>

</html>