<!DOCTYPE html>
<html lang="en">

<head>
    <meta property="og:title" content="Hab Track - Home">
    <meta property="og:url" content="https://habtrack.vercel.app/">
    <meta property="og:description" content="Track updates on Habbo & retros">
    <meta property="og:image" content="https://hab-track.vercel.app/img/banner.png">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">
    {% include 'default.html' %}      
</head>

<body>
    <div class="home-content">
        <h2><b>Track updates of Habbo & retros</b></h2>
        <h3>All updates happen on <a href="/discord" target="_blank">Discord</a></h3>
        
        <div class="home-buttons">
            <a href="/graphs" class="button">Graphs</a>
            <a href="/search" class="button">Search assets</a>
            <a href="/about" class="button">About</a>
        </div>
    </div>
</body>

</html>