body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #eee;
    margin: 0;
    padding: 0;
}

#plots {
    max-width: 100%;
    overflow: hidden;
}

h1 {
    display: none;
    visibility: hidden;
}